.bg{
    background-image: url("sunset-1373171__480.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
  

  
   
    
}
/* #heading{
    text-align: center;
    text-transform: uppercase;
    color: red;
    background-color: yellow;

    
}
.mb-31{
    text-align: center;
    margin-top: 2%;
    color: rgb(66, 58, 58);
    padding: 3px;

}
.form-control1{
    width: 200px;
}



.mb-3{
    text-align: center;
    color:  rgb(66, 58, 58);
    padding: 3px;
    margin-left: 1%;


}
.form-control2{
    width: 200px;
     margin-top: 2%;
    margin-left: 2%;
}
.mb-2{
    margin-left: 39%;
    margin-top: 1%;
}
.btn{
    width:100px;
}
/* .container{
    border: 2px  solid black;
    margin-bottom: 24%;
    margin-right: 52%;
    margin-left: 67%;
    margin-top: 5%;
    border-right: 2%;
    border-left:10%;
    
   
    
} */
/* .rounded{
   
    background-image:url("128-1280406_view-user-icon-png-user-circle-icon-png.png");
    float:center;
    margin-left: 45%;
    background-repeat: no-repeat;
}
    

.border1{
    border: 1px solid black;
} */ 
.form1{
    position: absolute;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow:0px 0px 20px 0px black;
    padding: 30px;
   
margin-top: 15%;

}
